<!DOCTYPE html>
<html>
<head>

<title>Page Title</title>

<!-- 網頁編碼 -->
<meta charset="UTF-8">

<!-- 定義網頁描述 網頁關鍵字(被搜尋引擎偵測) 作者 -->
<meta name="description" content="effective to save your money">
<meta name="keywords" content="save money">
<meta name="author" content="林健昌">

<!-- 可以讓頁面寬度跟裝置寬度一樣 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- 此為瀏覽器標齊旁邊的小圖案 -->
<link rel="icon" type="image/x-icon" href='favicon.jpg'>
<link rel="stylesheet" href="css/change_pwd.css">


</head>


<body>
    <div class="form">
        <div class="login_form_title">
            <label>變更密碼</label><br>
        </div>

        <div class="form_item">
            <!-- fieldset將有相關的表格框在一起 legend為相關表格的標題 -->
            <label for="name">帳號</label><br>
            <!-- autofocus使得載入此頁面時 該文字框會會被關注(閃爍提示) -->
            
            <div class="text_box">
                <input type="text" id="name" name="name" value="<%= account %>" disabled>
                <!-- <input type="text" id="name" name="name" autofocus><br> -->
            </div>
        </div>

        <div class="form_item">
            <label for="current_pwd">請輸入當前密碼</label><br>
            <div class="text_box">
                <input type="password" id="current_pwd" name="current_pwd" autofocus><br>
            </div>
        </div>

        <div class="form_item">
            <label for="new_pwd">新密碼</label><br>
            <div class="text_box">
                <input type="password" id="new_pwd" name="new_pwd"><br>
            </div>
        </div>

        <div class="form_item">
            <label for="new_pwd_chk">確認新密碼</label><br>
            <div class="text_box">
                <input type="password" id="new_pwd_chk" name="new_pwd_chk"><br>
            </div>
        </div>

        <!-- <button type="button" onclick="account_chk()">登入</button> -->
        <label id=txtHint></label><br>
        <input class="login_button" type="button" value="變更密碼" onclick="chnage_pwd();"><br>
        
        
        <input class="register_button" type="button" value="回上一頁" onclick="back_to_index();"><br>
    </div>
    <!-- 引入jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="script/account.js"></script>
        
    
</body>
</html>