<<<<<<< HEAD
/* 表單 */

body{
  font-family: Arial, Verdana, Helvetica;
  font-size: 1.2vw !important;
  text-align: center;
}


/* 上面一排按鈕 */
ul {
  position: fixed;
  top: 0vw;
  left: 0vw;
  list-style-type: none;
  width: 100%;
  margin-top: 0vw;
  margin-bottom: 2vw;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li p{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 2vw;
  width: 25vw;
  margin: 0px;
  text-decoration: none;  
  cursor: pointer;
}

li p.Left{
  margin-left: 12vw;
}

li #time{
  font-size: 1.3vw;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 2vw;
  width: 25vw;
  margin: 0px;
  text-decoration: none;  
  cursor: pointer;
}

.dropbtn {
  width: 1vw;
}

li :not(.dropdown-content):hover {
  background-color: #111111;
}


.dropdown {
  display: inline-block;
}

.dropdown-content {
  position: fixed;
  display: none;
  background-color: #333;
  width: 10vw;
}

.dropdown-content p {
  display:block;
  color: white;
  width: 10vw;
  padding: 1vw 2vw;
  text-decoration: none;
  text-align: left;
}
.dropdown-content p:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.add_form, .update_form{
    display: none;  
    position:fixed;
    top:10vw;
    width: 100%;
}

#accounting_table{
  margin-top: 0vw;
  margin-bottom: 2vw;
}

/* 記帳表格的外框 */
table {
  width: 40vw;
  margin: 2vw 25vw 0vw 30vw;
  border-style: solid;
  border-width: medium;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.top_table{
  width: 40vw;
  margin: 8vw 25vw 0vw 30vw;
  border-style: solid;
  border-width: medium;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
}

/* 記帳表格的標題 */
.form_title{
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
}

/* 記帳表格細項 */
td{
    height: 3vw;
    width: 20vw;
}

td.left{
  padding-left: 3vw;
}

td.right{
  padding-right: 3vw;
}



/* 彈出視窗 */
.w3-modal-content {
  width: 20% !important;
  padding: 1vw;
}


#add_form_button{
  position:fixed; right:10vw; bottom:5vw;
  background-color: white !important;
}

.add_form p{
  text-align: center;
  font-size: 2vw;
  margin-bottom: 0vw;
}

i{
  font-size: 5vw;
  color:#000000;
}



.add_form_item{
  text-align: left;
  margin-bottom: 1vw;
}

.add_form_item input{
  width: 17vw;
}

#date{
  width: 17vw;
}

.add_form_expense_income{
  margin-bottom: -3vw;
  text-align: center;
}

#add_button{
  margin-bottom: 1vw;
  text-align: center;
  color:white;
  background-color: #333;
}
#add_button:hover{
  background-color: #111111;
  cursor: pointer;
}

.update_form p{
  text-align: center;
  font-size: 2vw;
  margin-bottom: 0vw;
}

.update_form_item{
  text-align: left;
  margin-bottom: 1vw;
}

#update_date{
  width: 17vw;
}

.update_form_expense_income{
  margin-bottom: -2vw;
  text-align: center;
}

#update_button{
  text-align: center;
  background-color: #333;
  color: white;
  margin-top: 1vw;

  margin-bottom: 1vw;
}

#delete_button{
  text-align: center;
  background-color: #333;
  color: white;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#delete_button:hover, #update_button:hover{
  background-color: #111111;
  cursor: pointer;
}
/* .update_form_content{
  height: 26vw !important;
} */

=======
/* 表單 */

body{
  font-family: Arial, Verdana, Helvetica;
  font-size: 1.2vw !important;
  text-align: center;
}


/* 上面一排按鈕 */
ul {
  position: fixed;
  top: 0vw;
  left: 0vw;
  list-style-type: none;
  width: 100%;
  margin-top: 0vw;
  margin-bottom: 2vw;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li p{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 2vw;
  width: 25vw;
  margin: 0px;
  text-decoration: none;  
  cursor: pointer;
}

li p.Left{
  margin-left: 12vw;
}

li #time{
  font-size: 1.3vw;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 2vw;
  width: 25vw;
  margin: 0px;
  text-decoration: none;  
  cursor: pointer;
}

.dropbtn {
  width: 1vw;
}

li :not(.dropdown-content):hover {
  background-color: #111111;
}


.dropdown {
  display: inline-block;
}

.dropdown-content {
  position: fixed;
  display: none;
  background-color: #333;
  width: 10vw;
}

.dropdown-content p {
  display:block;
  color: white;
  width: 10vw;
  padding: 1vw 2vw;
  text-decoration: none;
  text-align: left;
}
.dropdown-content p:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.add_form, .update_form{
    display: none;  
    position:fixed;
    top:10vw;
    width: 100%;
}

#accounting_table{
  margin-top: 0vw;
  margin-bottom: 2vw;
}

/* 記帳表格的外框 */
table {
  width: 40vw;
  margin: 2vw 25vw 0vw 30vw;
  border-style: solid;
  border-width: medium;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.top_table{
  width: 40vw;
  margin: 8vw 25vw 0vw 30vw;
  border-style: solid;
  border-width: medium;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
}

/* 記帳表格的標題 */
.form_title{
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
}

/* 記帳表格細項 */
td{
    height: 3vw;
    width: 20vw;
}

td.left{
  padding-left: 3vw;
}

td.right{
  padding-right: 3vw;
}



/* 彈出視窗 */
.w3-modal-content {
  width: 20% !important;
  padding: 1vw;
}


#add_form_button{
  position:fixed; right:10vw; bottom:5vw;
  background-color: white !important;
}

.add_form p{
  text-align: center;
  font-size: 2vw;
  margin-bottom: 0vw;
}

i{
  font-size: 5vw;
  color:#000000;
}



.add_form_item{
  text-align: left;
  margin-bottom: 1vw;
}

.add_form_item input{
  width: 17vw;
}

#date{
  width: 17vw;
}

.add_form_expense_income{
  margin-bottom: -3vw;
  text-align: center;
}

#add_button{
  margin-bottom: 1vw;
  text-align: center;
  color:white;
  background-color: #333;
}
#add_button:hover{
  background-color: #111111;
  cursor: pointer;
}

.update_form p{
  text-align: center;
  font-size: 2vw;
  margin-bottom: 0vw;
}

.update_form_item{
  text-align: left;
  margin-bottom: 1vw;
}

#update_date{
  width: 17vw;
}

.update_form_expense_income{
  margin-bottom: -2vw;
  text-align: center;
}

#update_button{
  text-align: center;
  background-color: #333;
  color: white;
  margin-top: 1vw;

  margin-bottom: 1vw;
}

#delete_button{
  text-align: center;
  background-color: #333;
  color: white;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#delete_button:hover, #update_button:hover{
  background-color: #111111;
  cursor: pointer;
}
/* .update_form_content{
  height: 26vw !important;
} */

>>>>>>> 807acb856e1fed5776fece5f1c2c6e82f8b2a3d3
