body{
    font-family: Arial, Verdana, Helvetica;
}

/* 文字標題 */
.title{
    font-size: 4vw;
    width: 20vw;
    /* 上右下左 */
    margin:3% 41% 0% 37%;
    padding: 2vw;
    text-align: center;
}

/* 表單 */
.form{
    width: 25vw;
    /* 上右下左 */
    margin:0% 37.5% 0% 34%;
    padding: 2vw;
    border-style: solid;
    border-width: medium;
    border-color: rgb(0, 0, 0);
    border-radius: 2vw
}

/* 登入表單的標題 */
.login_form_title{
    margin:0% 0% 5% 0%;
    text-align: center;
    font-size: 3vw;
}

/* 表格內容 */
.form_item{
    font-size: 1.5vw;
}



/* 文字框裡面 */
.text_box input{
    padding: 0vw 0vw 0vw 0vw;
    font-size: 2vw;
    width: 24vw;
}

.login_button{
    padding: 1% 42.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6vw;
    margin: 5% 0% 0%;
    cursor: pointer;
}


.register_button{
    padding: 1% 42.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6vw;
    margin: 5% 0% 2%;
    cursor: pointer;
}

